@font-face {
    font-family: "Alpha Echo";
    src: url(../fonts/alpha_echo.ttf);
}

.title {
    text-align: center;
    font-family: "Alpha Echo", serif;
}

.title span {
    font-size: 19px;
}

.navigation_bar {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

.nav_element a {
    color: gray;
    text-decoration: none;
}

.nav_element_news a {
    color: white;
    text-decoration: none;
}

.nav_element, .nav_element_news {
    padding: 5px 20px;
    font-style: italic;
    color: white;
}

.nav_element:hover {
    background: #f2f2f2;
    padding: 5px 20px;
    border-radius: 5px;
}

.nav_element_news {
    background: #ca1e42;
    color: white;
    border-radius: 5px;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    background: #f2f2f2;
}

.main_content {
    width: 600px;
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
}

.main_content img {
    width: 100%;
}

.main_content h3 {
    text-align: justify;
    padding: 10px 10px 0 10px;
    margin: 5px auto;
}

.main_content h4 {
    text-align: justify;
    padding: 0 10px;
    margin: 5px auto;
}

.main_content p {
    text-align: justify;
    padding: 10px 10px;
}

.italic_h4 {
    font-style: italic;
    font-weight: normal;
}

article {
    width: 100%;
    background: white;
}

.sidebar {
    width: 300px;
    margin: 10px 20px;
}

.sidebar img {
    width: 100%;
}

.sidebar a {
    color: #d44515;
    padding: 10px;
    margin: 5px;
    display: block;
}

.sidebar hr {
    margin: 0 10px;
}

.sidebar aside h4, p {
    padding: 10px 10px;
    margin: 0 auto;
    text-align: start;
}

.button_aside {
    width: 60%;
    height: 35px;
    border-radius: 5px;
    background: #000000;
    color: white;
    margin-bottom: 10px;
}

aside {
    text-align: center;
    width: 100%;
    background: white;
    margin-bottom: 40px;
}

.sidebar aside:last-of-type a:hover {
    border: red 2px solid;
}

.footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: #262626;
    color: white;
}

.footer > div:first-of-type a:hover, .footer > div:nth-of-type(2) a:hover {
    text-decoration: none;
}

.footer > div {
    width: 25%;
    margin: 0 30px;
}

.footer h2 {
    font-weight: normal;
}

.footer a {
    display: block;
    color: gray;
    margin: 15px 0;
}

.footer p {
    padding: 0;
}

.contact_info {
    margin: 10px auto;
}

.contact_info h3 {
    margin: 0;
}

.contact_info p {
    display: block;
    width: 50%;
    color: gray;
}

.footer:nth-child(3) img {
    margin: 0 5px;
    display: inline;
}

.footer:nth-child(3) a {

    display: inline;
}

.contact_info {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

/*Adaptation*/

@media screen and (max-width: 1024px) {
    .main, .footer {
        flex-wrap: wrap;
    }

    .sidebar {
        display: flex;
        justify-content: space-around;
        width: 70%;
    }

    .sidebar aside {
        margin: 0 30px;
        width: 100%;
    }

    .footer > div {
        flex-wrap: wrap;
        min-width: 350px;
    }
}

@media screen and (max-width: 768px) {
    .sidebar {
        display: block;
        width: 300px;
        margin: 10px 20px;
    }
}

@media screen and (max-width: 600px) {
    .navigation_bar {
        flex-direction: column;
        align-items: center;
    }

    .sidebar aside {
        margin: 10px 0;
    }
}

@media screen and (max-width: 480px) {
    .header, .main {
        min-width: 350px;
    }

    .footer > div {
        border: gray 1px solid;
        border-radius: 5px;
        min-width: 350px;
        margin: 10px 0;
        padding: 10px;
    }
}
