.body{
    width: 94%;
    background: url(../images/bg.webp) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    flex-wrap: wrap;
}

.main_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.h1{
    padding-left: 20px;
    font-size: 40px;
}
.main_content .header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.contact{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.contact a{
    text-decoration: none;
    color: black;
}

.contact a:hover{
    cursor: pointer;
}
.main_content .row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.main_content .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.column div{
    width: 350px;
    height: 250px;
    margin: 0 20px;
    border: 4px double white;
}

.row:first-of-type{
    justify-content: space-around;
    align-items: center;
}

 .row:nth-of-type(2) .column:first-of-type div{
    background: url("../images/bhutan.jpg");
    background-size: cover;
 }


.row:nth-of-type(2) .column:nth-of-type(2) div{
    background: url("../images/depositphotos_7932088-stock-photo-taj-mahal-in-india.jpg");
    background-size: cover;
}

.row:nth-of-type(2) .column:nth-of-type(3) div{
    background: url("../images/lk.jpg");
    background-size: cover;
}

.row:last-of-type .column:nth-of-type(1) div{
    background: url("../images/maldives1.jpg");
    background-size: cover;
}

.row:last-of-type .column:nth-of-type(2) div{
    background: url("../images/photo-1602102488252-c4c3daadf1c2.jpg");
    background-size: cover;
}

.row:last-of-type .column:nth-of-type(3) div{
    background: url("../images/tibet.jpg");
    background-size: cover;
}

@media screen and (max-width:350px ){
     .body,.main,.column, .row{
        display: block;
    }

}
