.main{
    background: url("../images/bg.jpg");

    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.main_field{
    display: flex;
    width: 100%;
    max-width: 608px;
    min-width: 350px;
    background-size: cover;
    background: url("../images/form-bg.png") no-repeat;
}
.note{
    margin: 80px 30px 40px 30px;
}
.main a{
    text-decoration: none;

}
.darkblue{
    color:#2944ab;
}

.grey{
    color:#b9b9b9;
}

.black{
    color:black;
}

.lightblue{
    color:#30cad0;
}

.line{
    background: #b9b9b9;
}

.main_field_note{
    display: flex;
    justify-content: space-around;
}

.type_of_login, .form_of_login{
    width: 40%;
    font-size: 0.7em;
    color: #b9b9b9;
}


.fb_or_twitter {
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 30px;
    margin: 30px 5px 0 0;
    border-radius: 10px;
    border: #0b5da1 1px solid;
    box-shadow: 0 0 1em #7caab2;
}

.fb_or_twitter:first-of-type {
    background: linear-gradient(#668dc8, #4870ab);
    border: #0b5da1 1px solid;
}

.fb_or_twitter:last-of-type {
    background: linear-gradient(#53d0d5, #36b3b8);
    border: #1895b7 1px solid;
}

.fb_or_twitter:first-of-type img {
    margin-right: 6px;
    padding: 4px 6px;
}

.fb_or_twitter:last-of-type img {
    padding: 4px 4px;
    margin-right: 10px;
}

.fb_or_twitter div {
    font-size: 10px;
    color: white;
    text-align: center;
    text-shadow: 1px -1px 1px black;
}

.fb_or_twitter:first-of-type div {
    padding: 5px 5px;
}

.fb_or_twitter:last-of-type div {
    padding: 5px 5px;
}
.or_field{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 5%;
}

.or_field div{
    width: 2px;
    height: 70px;
    background: #b9b9b9;
}
.form_of_login{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form_of_login>div{
    display: flex;
    justify-content: center;
}
.form_of_login>div:nth-of-type(3),.form_of_login>div:nth-of-type(4){
    align-self: flex-end;
}
.username, .password {
    background-color: #ebebeb;
    font-size: 15px;
    width: 80%;
    padding: 5px;
    border-radius: 0 10px 10px 0 ;
    border: inset 1px;
    border-left: none;
    outline: none;
    margin: 15px 0;
}

.input_icon_1, .input_icon_2{
    margin: 15px 0;
    background-color: #ebebeb;
    width: 30px;
    align-items: center;
    border-radius: 10px 0 0 10px;
    border: inset 1px;
    border-right: none;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center center;
}
.input_icon_1{
    background-image: url("../images/user-icon.png");
}

.input_icon_2{
    background-image: url("../images/password-icon.png");
}
.login{
    color: #504e52;
    font-weight: bold;
    background: linear-gradient(#fddb66, #cfae3b);
    font-size: 18px;
    width: 90px;
    padding: 6px;
    border-radius: 15px;
    border: 1px solid #466786;
    outline: none;
    cursor: pointer;
}
.reset-button {
    background: none;
    border: none;
    color: #b9b9b9;
    font-size: 0.9em;
}

@media screen and (max-width: 603px){
    .main{
    }

}