@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-VariableFont_wdth,wght.ttf");
}

@font-face {
    font-family: "AkzidenzGrotesk Black";
    src: url("../fonts/Akzidenz-grotesk-black.ttf");
}

body {
    text-align: center;
    font-family: "Open Sans", serif;
    width: 100%;
    height: 600px;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 800px 600px;
    background-image: url("../images/bg.jpg");
}

h1 {
    font-family: "AkzidenzGrotesk Black", serif;
    font-size: 3.2em;
    color: #00264d;
    margin-bottom: 45px;
}

.type_registration {
    display: flex;
    justify-content: center;
}

.fb_or_twitter {
    min-width: 178px;
    display: flex;
    justify-content: normal;
    width: 178px;
    height: 30px;
    margin: 10px;
    border-radius: 3px;
    border: #0b5da1 1px solid;
    box-shadow: 0 0 1em #7caab2;
}

.fb_or_twitter:first-of-type {
    background: linear-gradient(#0d76be, #0d63ab);
    border: #0b5da1 1px solid;
}

.fb_or_twitter:last-of-type {
    background: linear-gradient(#57d5ff, #17ade0);
    border: #1895b7 1px solid;
}

.fb_or_twitter:first-child img {
    padding: 4px 10px;
    border-right: #0b5da1 1px solid;
}

.fb_or_twitter:last-child img {
    padding: 4px 2px;
    border-right: #1895b7 1px solid;
}

.fb_or_twitter div {
    padding: 0 50px;
    font-size: 14px;
    color: white;
    text-shadow: 1px -1px 1px black;
}

.fb_or_twitter:first-child div {
    padding: 5px 5px;
}

.fb_or_twitter:last-child div {
    padding: 5px 12px;
}

@media screen and (max-width: 500px) {
    .type_registration {
        display: inline-block;
        text-align: center;
    }

}

a {
    text-decoration: none;

}
.or_block{
    display: flex;
    justify-content: center;
    align-items:  center;
    margin: 20px 0;

}

.or_block div:first-of-type, .or_block div:last-of-type{
    color: red;
    width: 70px;
    height: 2px;
    background: #dde2dc;

}

.or {
    width: 50px;
    height: 50px;
    background-color: #e3e6e1;
    border-radius: 100%;
    font-weight: bold;
    color: gray;
    text-align: center;
    line-height: 48px;
}

.form_registration > div:first-of-type, .form_registration > div:nth-of-type(2),.form_registration > div:nth-of-type(4) {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    height: 35px;
}

#username, #password {
    background-color: #ebebeb;
    font-size: 20px;
    width: 250px;
    padding: 16px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #e9e9e9;
    outline: none;
}

.input_icon{
    background-color: #ebebeb;
    width: 35px;
    align-items: center;
    border-radius: 0 5px 5px 0;
    border: 1px solid #e9e9e9;
    border-left: #b1b1b1 1px solid;
    padding: 5px 0;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center center;
}
#username +.input_icon{
    background-image: url("../images/user-icon.png");
}

#username:focus +.input_icon{
    border: 1px solid #0784ff;
    border-left: #b1b1b1 1px solid;
    background-image: url("../images/user-icon-active.png");
}

#password +.input_icon{
    background-image: url("../images/password-icon.png");
}

#password:focus +.input_icon{
    border: 1px solid #0784ff;
    border-left: #b1b1b1 1px solid;
    background-image: url("../images/password-icon-active.png");
}

#username:focus, #password:focus{
    border: 1px solid #0784ff;
    border-right: #b1b1b1 1px solid;
}


#password:focus::placeholder, #username:focus::placeholder {
    color: #1686f9;
}

.form_registration > div:nth-of-type(3){
    display: flex;
    justify-content: center;
    height: 35px;
}

.form_registration > div:nth-of-type(3) div{
    padding: 0 35px;
    min-width: 120px;
}

span{
    color: white;
    font-size: 0.9em;
}

#reset-button{
    background: none;
    border: none;
    color: white;
    font-size: 0.9em;
}

#login{
    color: white;
    font-weight: bold;
    background-color: #254c75;
    font-size: 18px;
    width: 325px;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #466786;
    outline: none;
}

#sign_up{
    background: none;
    border: none;
    color: #007ff4;
    font-size: 0.9em;
}
.not_member span{
    color: #777c80;
}


