body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F7FA;
}

/* main styles */
.main {
    display: flex;
    flex-direction: row-reverse;

    width: 1200px;
    margin: 0 auto;
}
.main_content {
    background-color: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 105px 90px;
}

/* about styles */
.about {
    margin-bottom: 40px;

}
.about_position {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 20px;
}
.about_name{
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 25px;
}
.about_description{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 400px;
}
/* project styles */
.projects {
    margin-bottom: 50px;
}
.title{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}
.projects_link{
    padding: 0px;
    margin-left: 15px;
}
.project_item{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}
.project, .project_link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.project_bracket{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000000;

}

/* work styles */

.work_position{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}
.organization{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    margin-bottom: 10px;
}
.period{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;
}
.line{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}
.work_list{
    padding: 0px;
    margin-left: 15px;
}
.work_list_item{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
/* education styles */

.university{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    margin-bottom: 10px;
}
.specialization{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 10px;
}


/* sidebar styles */
.sidebar {
    background-color: #1E2939;
    color: cornsilk;
    width: 370px;
}
.photo{
    width: 370px;
}
/* contacts styles */
.contacts {
    padding: 10px 25px;
}
.contact_A{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}
.contact{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFFFF;
    opacity: 0.5;
}

/* tech_skills styles */
.tech_skills {
    padding: 10px 25px;
}
.tech-skills-list{
    padding-left: 20px;
}
.tech-skills-item{
    color: #FB6D3A;
}
.tech-skills-text {
    color: #FFFFFF;
}

/* soft_skills styles */
.soft_skills {
    padding: 10px 25px;
}
.soft-skills-list{
    padding-left: 20px;
}
.soft-skills-item{
    color:#FB6D3A ;
}
.soft-skills-text{
    color: #FFFFFF;
}