.body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_field {
    display: flex;
    width: 700px;
    height: 500px;
    background-color: lightskyblue;
    border: black 2px solid;
    flex-direction: column;
    justify-content: space-around;

}

.buttons_field {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.buttons_field > * {
    width: 71px;
    height: 70px;
    font-size: 30px;
}

.buttons_field > *:hover {
    font-size: 40px;
    color: darkred;
    font-weight: bold;
}

.inputs\+result_field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputs\+result_field > label {
    text-align: center;
}

.line {
    background-color: black;
    height: 1px;
    width: 650px;
}

.tooltip {
    position: fixed;
    padding: 10px 20px;
    border: 1px solid #b3c9ce;
    border-radius: 4px;
    text-align: center;
    font: italic 14px/1.3 sans-serif ;
    font-weight: bold;
    color: red;
    background: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}