.main_block{
    width: 100%;
    height: 640px;
    background-image: url("../images/bg.jpg");
    background-repeat: space;
    background-size: cover;
}
.main_block div:first-child{
    padding:0 20px;
}
.main_block a{
    font-size: 40px;
    font-style: italic;
    color: white;
}
.main_block div:last-child{
    width: 50%;
    float: right;
    border: double 4px black;
    background: #eed0f2;
    padding: 10px;
    margin-right: 10px;
}
.main_block div:last-of-type h2{
    text-align: center;
    color: darkblue;
}
.main_block div:last-of-type p:first-of-type{
    color: #d93443;
    text-align: justify;
}

.main_block div:last-of-type p:last-of-type{
    font-style: italic;
    text-align: justify;
}

@media screen and (max-width: 500px){
    .main_block div:last-child{
        min-width: 300px;
    }
}
