body {
    background: #add9e6;
    padding: 5px 5px;
}

.menu {
    padding-inline-start: 5px;
    margin-block-start: 5px;
    margin-block-end: 5px;
}

.menu li {
    width: 20%;
    margin: 2px -5px;
    list-style-type: none;
    display: inline-block;
    background-color: yellow;
    border: solid 1px black;
    height: auto;
    text-align: center;
}

h1 {
    font-size: 35px;
    text-align: center;
}

img {
    width: 40%;
    float: left;
    border-radius: 15px;
}

.head {
    margin-left: 40%;
    font-size: 1.2em;
}

.head li {;
    padding-left: 15px;
    list-style-position: inside;
}

main {
    clear: left;
}

h2{
    color: darkblue;
    font-family: sans-serif;
}
footer{
    text-align: center;
}