@font-face {
   font-family: "Ms Madi";
   src: url("../fonts/MsMadi-Regular.ttf");
}

body{
   background-image: url("../images/bg.jpg");
   background-attachment: fixed;
   font-size: 20px;
   text-indent: 1.5em;
}
h1,h2,h3{
   text-align: center;
}
.site_name{
   font-family: "Ms Madi", cursive;
   text-align: center;
   font-size: 40px;
   letter-spacing: 10px;
}
.image_lviv{
   width: 300px;
}
.text{
   text-decoration-line: underline;
   letter-spacing: 5px;
}
#crossline{
   text-decoration-line: line-through;
}
a{
   font-style: italic;
   color: black;
   text-decoration-line: none;
}
#content{
   width: fit-content;
   border: solid ;
   border-width: thin;
   padding: 10px;
   margin: auto;

}
ol:first-line{
   font-size: 50px;
}
.poem{
   width: 70%;
   margin: auto;
   text-align: center;
}
a:hover{
   color: darkred;
   text-decoration: underline;
}

