/*.header{*/
/*    width: 100%;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    flex-direction: column;*/
/*    align-items: stretch;*/
/*}*/
body {
    font-family: Arial, sans-serif;
}

.header {
    background: #e1e4e5;
}

/**********header_top*********/
.header_top_background {
    display: flex;
    justify-content: center;
    height: 30px;
    background: #2f363c;
}

.header_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    min-width: 300px;
}

.header_top div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_top h3 {
    color: #a5adb8;
    font-weight: bold;
}

.search-input {
    width: 125px;
    height: 18px;
    margin: 10px 0;
    background: #24272d;
    border: #875f66 1px solid;
    border-radius: 5px;
    font-size: 11px;
    padding: 1px 5px;
}

.header_top img {
    width: 100%;
    height: 17px;
    background: #ae4b5d;
    border-radius: 5px;
}

.header_top button {
    height: 18px;
    background: none;
    border: none;
    cursor: pointer;
}

/**********header_center*********/
.header_center {
    display: flex;
    justify-content: center;
}

.header_center_picture {
    width: 75%;
    min-width: 300px;
    background: url("../images/header.jpg");
    height: 150px;
    background-size: cover;

}

.header_center_picture h3 {
    color: #a5adb8;
    font-weight: bold;
    margin-bottom: 0;
    padding: 0 13px;
}

.header_center_picture h4 {
    color: #2c3137;
    font-weight: bold;
    font-size: 10px;
    margin-top: 0;
    padding: 0 13px;
}

.header_center_picture p:first-of-type {
    color: #a5adb8;
    font-weight: bold;
    font-size: 10px;
    margin-bottom: 3px;
    padding: 0 13px;
}

.header_center_picture p:last-of-type {
    color: white;
    font-size: 10px;
    font-weight: lighter;
    margin-top: 0;
    width: 60%;
    padding: 0 13px;
    min-width: 262px;
}

/**********header_down*********/
.header_down{
    display: flex;
    justify-content: center;
}

.header_down nav{
    width: 75%;
    min-width: 300px;
    background: #95161f;
    height: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.header_down nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 10px;
    margin: 0 5px;
}

.header_down nav a:hover {
    text-decoration: underline;
    color: black;
}


/*****main****/
.main {
    background: #e1e4e5;
    display: flex;
    justify-content: center;

}

.main_field{
    width: 75%;
    min-width: 300px;
    background: white;
    display: flex;
    flex-direction: row;
    padding:  20px 0;
}

/******sidebar******/
.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width:30%;
    min-width: 190px;
}

.sidebar aside{
    margin: 10px 0;
    padding: 0 10px;
}

.sidebar h4{
    font-size: 14px;
    align-self: flex-start;
    margin:4px 0;
}

.contact_us_form{
    background: #f3f3f3;
    border: #dadde0 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    padding: 10px 12px;
}

.contact_us input, .contact_us select{
    width: 98%;
    padding: 1px 0;
    margin: 5px 0;
    background:#e3e4e5;
    border-radius: 3px;
    border: 1px white inset;
    font-size: 10px;
    color: gray;
}

.contact_us select{
    width: 100%;
    padding: 1px 0;
    margin: 5px 0;
    background:#e3e4e5;
    border-radius: 3px;
    border: 1px gray solid;
    font-size: 10px;
    color: gray;
}

.contact_us input::placeholder, .contact_us select::placeholder{
    font-size: 10px;
}

.contact_us button{
    background: #aa212b;
    border-radius: 0;
    border: white 2px solid;
    box-shadow: gray 1px 1px 1px 0;
    color: white;
    cursor: pointer;
}

.headline>div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 80%;
    padding: 10px 15px;
}

.headline p{
    font-size: 10px;
}
.headline a{
    font-size: 10px;
    color: darkred;
}

/*********main_content*******/
.main_content{
    width:70%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}
.main_content article{
    width: 100%;
}

.main_content h2{
    color: #a5adb8;
}
.main_content a{
    color: darkred;
}
.images_div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

.images_div >div{
    display: flex;
    flex-direction: column;
}

.lists_column{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.lists_column >div{
    margin: 10px 10px;
}

.lists_column h5, ul{
    margin: 0;
}
.unstyled{
    list-style-type: none;
    padding-left: 0;
}
.normal_ul{
    padding-left: 20px;
}
.ol{
    padding-left: 20px;
    padding-top: 0;
}

.table {
    text-align: center;
    background: #282d33;
    border: 1px white solid;
    border-radius: 10px;
    color: grey;
    font-size: 10px;
    border-collapse: collapse;
    height: 200px;
}
.table tr:first-child{
    font-weight: bold;
    background: #9c4757;
    font-size: 13px;
    border-radius: 15px;
    color: white;
}
.table th:first-child{
    border-radius: 10px 0 0 0;
}

.table th:last-child{
    border-radius:  0 10px 0 0;
}

.table td,th{
    border: 1px white solid;
}




.footer {
    background: #282d33;
    color: #85898f;
    font-size: 12px;
    line-height: 20px;
}

.footer_line{
    width: 100%;
    height: 10px;
    background: #ae4b5d;
}
.footer_div{
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
    flex-wrap: wrap;
}

.footer_div hr{
    background: #1f2327;
    color: #1f2327;
}
.footer_div>div{
    margin: 0 10px;
}
.footer h4{
    color: #a5adb8;
    font-size: 16px;
    margin-bottom: 0;
}
.footer_div>div:first-of-type ul{
    list-style-image: url("../images/time.svg");
    padding-left: 25px;
}
.footer_div>div:nth-of-type(2) ul{
    padding-left: 15px;
}
.footer_div>div:last-of-type a{
    text-decoration: none;
    color: darkred;


}




.cherry_color {
    color: #ae4b5d;
}

.grey_marker{
    background: #e1e4e5;
    border-radius: 5px;
}

@media screen and (max-width: 1225px){


}


@media screen and (max-width: 690px){
.main_field{
    display: block;
    text-align: center;
}
    .sidebar{
        justify-content: center;
        align-items: center;
        width: 90%;
    }

    .main_content{
        width: 90%;
    }
    .headline>div{
        justify-content: center;
        align-items: center;
    }

}